@using MVCWEB.ViewModel.Collab
@model CollabViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="browse-list">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            @foreach (var project in Model.Projects.Items)
            {
                <div class="col">
                    <div class="card border-0 shadow-sm h-100 project-card" data-id="@project.Project_id">
                        <div class="card-body">
                            <h6 class="fw-bold">@project.Title</h6>
                            <p class="text-muted small">@project.Description</p>
                            <ul>
                                @{
                                    var category = project.CategoryNames.Split(",");
                                    foreach (var cat in category)
                                    {
                                        if (!string.IsNullOrEmpty(cat))
                                        {
                                            <li>@cat</li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination ">
            
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            @for(int i = 1; i <= Model.Projects.TotalPages; i ++)
            {
                <li class="page-item"><a class="page-link" href="#">@i</a></li>
            } 
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="projectModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="projectModalContent">
            <!-- loaded via fetch -->
            sdfsdfsd
        </div>
    </div>
</div>

<script type="text/javascript">
    document.querySelectorAll('.project-card').forEach(card => {
        card.addEventListener('click', async () => {
            const id = card.dataset.id;

            try {
                console.log(id);
                const response = await fetch(`/collab/Details/${parseInt(id)}`,
                {
                    headers: {'X-Requested-With': 'XMLHttpRequest'}
                }
                );

                if (!response.ok) throw new Error('Failed to load');
                 
                const html = response.text();
                console.log(html);

                // fill modal content
                document.getElementById('projectModalContent').innerHTML = await html;

                // hide loading show project modal
                // loading.hide();
                new bootstrap.Modal(document.getElementById('projectModal')).show();

            } catch (error) {
               console.log(error);
                alert('Failed to load project details.');
            }
        });
    });
</script>